swagger: "2.0"
info:
    title: ""
    version: 0.0.1
host: localhost:80
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /exchanges:
        get:
            tags:
                - exchange
            summary: list exchange
            description: List all active operating exchanges
            operationId: exchange#list
            parameters:
                - name: query
                  in: query
                  description: Optional search query to filter exchanges
                  required: false
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Exchange'
            schemes:
                - http
    /exchanges/{operating_mic}:
        get:
            tags:
                - exchange
            summary: get exchange
            description: Get exchange by Operating MIC
            operationId: exchange#get
            parameters:
                - name: operating_mic
                  in: path
                  description: Operating Market Identifier Code
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/Exchange'
                        required:
                            - operating_mic
                            - exchange_name
                            - display_name
                            - country
                            - city
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/ExchangeGetNotFoundResponseBody'
            schemes:
                - http
    /watchlist:
        get:
            tags:
                - watchlist
            summary: list watchlist
            operationId: watchlist#list
            parameters:
                - name: X-User-ID
                  in: header
                  description: User ID
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/TickerItem'
            schemes:
                - http
        post:
            tags:
                - watchlist
            summary: add watchlist
            operationId: watchlist#add
            parameters:
                - name: X-User-ID
                  in: header
                  description: User ID
                  required: true
                  type: string
                - name: AddRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/WatchlistAddRequestBody'
                    required:
                        - symbol
                        - on_hand
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TickerItem'
                        required:
                            - symbol
                            - on_hand
            schemes:
                - http
    /watchlist/{symbol}:
        delete:
            tags:
                - watchlist
            summary: remove watchlist
            operationId: watchlist#remove
            parameters:
                - name: symbol
                  in: path
                  required: true
                  type: string
                - name: X-User-ID
                  in: header
                  description: User ID
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - http
definitions:
    Exchange:
        title: Exchange
        type: object
        properties:
            acronym:
                type: string
                description: Exchange acronym
                example: NYSE
            city:
                type: string
                description: City location
                example: NEW YORK
            country:
                type: string
                description: ISO country code
                example: US
            display_name:
                type: string
                description: Formatted display name
                example: NYSE - NEW YORK STOCK EXCHANGE, INC. (US)
            exchange_name:
                type: string
                description: Official exchange name
                example: NEW YORK STOCK EXCHANGE, INC.
            operating_mic:
                type: string
                description: Operating Market Identifier Code
                example: XNYS
        description: Exchange represents a stock exchange
        example:
            acronym: NYSE
            city: NEW YORK
            country: US
            display_name: NYSE - NEW YORK STOCK EXCHANGE, INC. (US)
            exchange_name: NEW YORK STOCK EXCHANGE, INC.
            operating_mic: XNYS
        required:
            - operating_mic
            - exchange_name
            - display_name
            - country
            - city
    ExchangeGetNotFoundResponseBody:
        title: 'Mediatype identifier: application/vnd.goa.error; view=default'
        type: object
        properties:
            fault:
                type: boolean
                description: Is the error a server-side fault?
                example: false
            id:
                type: string
                description: ID is a unique identifier for this particular occurrence of the problem.
                example: 123abc
            message:
                type: string
                description: Message is a human-readable explanation specific to this occurrence of the problem.
                example: parameter 'p' must be an integer
            name:
                type: string
                description: Name is the name of this class of errors.
                example: bad_request
            temporary:
                type: boolean
                description: Is the error temporary?
                example: true
            timeout:
                type: boolean
                description: Is the error a timeout?
                example: false
        description: Exchange not found (default view)
        example:
            fault: true
            id: 123abc
            message: parameter 'p' must be an integer
            name: bad_request
            temporary: false
            timeout: true
        required:
            - name
            - id
            - message
            - temporary
            - timeout
            - fault
    TickerItem:
        title: TickerItem
        type: object
        properties:
            created_at:
                type: string
                description: Creation timestamp
                example: "2023-10-27T10:00:00Z"
                format: date-time
            on_hand:
                type: boolean
                description: Whether user holds the stock
                example: true
            symbol:
                type: string
                description: Stock Symbol
                example: AAPL
        example:
            created_at: "2023-10-27T10:00:00Z"
            on_hand: true
            symbol: AAPL
        required:
            - symbol
            - on_hand
    WatchlistAddRequestBody:
        title: WatchlistAddRequestBody
        type: object
        properties:
            on_hand:
                type: boolean
                example: true
            symbol:
                type: string
                example: Et cupiditate.
        example:
            on_hand: false
            symbol: Consectetur praesentium molestias dolores quisquam.
        required:
            - symbol
            - on_hand
