swagger: "2.0"
info:
  title: ""
  version: 0.0.1
host: localhost:80
consumes:
  - application/json
  - application/xml
  - application/gob
produces:
  - application/json
  - application/xml
  - application/gob
paths:
  /watchlist:
    get:
      tags:
        - watchlist
      summary: list watchlist
      operationId: watchlist#list
      parameters:
        - name: X-User-ID
          in: header
          description: User ID
          required: true
          type: string
      responses:
        "200":
          description: OK response.
          schema:
            type: array
            items:
              $ref: "#/definitions/TickerItem"
      schemes:
        - http
    post:
      tags:
        - watchlist
      summary: add watchlist
      operationId: watchlist#add
      parameters:
        - name: X-User-ID
          in: header
          description: User ID
          required: true
          type: string
        - name: AddRequestBody
          in: body
          required: true
          schema:
            $ref: "#/definitions/WatchlistAddRequestBody"
            required:
              - symbol
              - on_hand
      responses:
        "200":
          description: OK response.
          schema:
            $ref: "#/definitions/TickerItem"
            required:
              - symbol
              - on_hand
      schemes:
        - http
  /watchlist/{symbol}:
    delete:
      tags:
        - watchlist
      summary: remove watchlist
      operationId: watchlist#remove
      parameters:
        - name: symbol
          in: path
          required: true
          type: string
        - name: X-User-ID
          in: header
          description: User ID
          required: true
          type: string
      responses:
        "204":
          description: No Content response.
      schemes:
        - http
definitions:
  TickerItem:
    title: TickerItem
    type: object
    properties:
      created_at:
        type: string
        description: Creation timestamp
        example: "2023-10-27T10:00:00Z"
        format: date-time
      on_hand:
        type: boolean
        description: Whether user holds the stock
        example: true
      symbol:
        type: string
        description: Stock Symbol
        example: AAPL
    example:
      created_at: "2023-10-27T10:00:00Z"
      on_hand: true
      symbol: AAPL
    required:
      - symbol
      - on_hand
  WatchlistAddRequestBody:
    title: WatchlistAddRequestBody
    type: object
    properties:
      on_hand:
        type: boolean
        example: true
      symbol:
        type: string
        example: Assumenda aspernatur necessitatibus tenetur non aut.
    example:
      on_hand: true
      symbol: Omnis quo et in sit maiores.
    required:
      - symbol
      - on_hand
